body{
     background:#FFFAFA;

}



#posts {

        margin:0 auto;
        max-width:1200px;
}






.head-picture .img-fluid {
             max-width: 100%;
             max-height: 100%;
             height: 300px;
             width: 400px;
             position: relative;
             right: 60px;

}


#header{
		background:url("alisa-anton-6K4xvAMzF7Q-unsplash.jpg");
        background-size: cover;
        background-position:center center;
        color:#ffffff;
        font-weight:500;
        text-shadow: 2px 2px 2px #e6e6e6 ;
        padding-top: 10%;
        padding-bottom: 10%;
	}



.layout {
  margin:0 auto;
  max-width:1200px;
}



.container-fluid {
    margin:0 auto;
    max-width:1200px;


}

.reading_glasses {

        margin-top:50px;

}


.bottom-left a {
  position: absolute;
  bottom: 8px;
  left: 100px;
  color:#ff80aa;

}


.my_recommendations h1{
   position: absolute;
   top: 150px;
   color:#ff80aa;
   font-family: 'Shadows Into Light', cursive;
   font-size: 55px;
   text-align:center;

}

.relax h1{
  position: absolute;
  bottom: 120px;
  left: 100px;
  color:#e39e7d;
}

.recommendations .img-fluid {
  width: 1000px;
  height: 200px;
  padding-bottom:20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}




.bottom-favorites {

    position: absolute;
    bottom: 20px;
    left: 100px;

}



.pack-books .img-fluid {

             max-width: 100%;
             max-height: 100%;
             height: 640px;
             width: 400px;
             position: relative;
             right: 20px;

}




.bottom-favorites a {
    text-decoration: none;
    background-color: none;
    color:#000000;
  }






 .col-lg-8 .col-md-8{
            margin-top: 20px;
            margin-bottom: 20px;
 }

  .col-lg-8 .col-md-4{
            margin-top: 20px;
            margin-bottom: 20px;
 }

 .col-md-8 .post-content{

                margin-left:0px;
                border-left: 4px solid #ff80aa;
                padding-left: 15px;



}

.post-content a{
    color:#ff80aa;
}







 .btn-link {

      color:#ff80aa;
 }

 h5{

 font-family: 'Raleway', sans-serif;
 font-size: 35px;

}

h4{

  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}


 .about{

     font-family: 'Fira Sans Condensed', sans-serif;;
     font-size: 20px;
     font-weight:200;



}


.enjoy h1{
     font-family: 'Shadows Into Light', cursive;
     margin-top:15px;
     font-size: 55px;
}

 .enjoy, .blog-archive{

    font-family: 'Shadows Into Light', cursive;
    font-size: 55px;

}



.author{

    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.favorites .img-fluid {

         max-width: 100%;
         max-height: 100%;
         height: 370px;
         width: 350px;
         margin-top:5px;
         padding-right:30px;
         margin-bottom: 20px;
}

.post-content span{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color:#999999;
}

.col-lg-12 a{
     color:#ff80aa;
}


p {
    display: block;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFAFA;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff80aa;
}

 li.nav-item {
    color: #FFFAFA;
}

/*   reading.html  */

.reading-now h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    text-align:center;

}

.reading-now ul li  {

     font-family: 'Fira Sans Condensed', sans-serif;;
     font-size: 30px;
     font-weight:200;
     text-align:center;
     list-style-type: none;

}


.reading-importance h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    text-align:center;

}

.reading-importance {

     font-family: 'Fira Sans Condensed', sans-serif;;
     font-size: 20px;
     font-weight:200;

}

.main {
   font-weight: bold;
}


/*   favorites.html  */


.favorites-list h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    text-align:center;

}

.favorites-personal {

     font-family: 'Fira Sans Condensed', sans-serif;;
     font-size: 20px;
     font-weight:200;


}

.favorites-list ul li  {

     font-family: 'Fira Sans Condensed', sans-serif;;
     font-size: 30px;
     font-weight:200;
     text-align:center;
     list-style-type: none;
     margin-top: 20px;

}

.anat {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;

}


.reading-woods .img-fluid {

             max-width: 100%;
             max-height: 100%;
             height: 440px;
             width: 400px;
             position: relative;

}


/*   comment_top.html  */

.book-top-pic .img-fluid {

             max-width: 100%;
             max-height: 100%;
             height: 650px;
             width: 520px;
             position: relative;

}

.post_details span{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color:#999999;
}


.all_comments .img-fluid {
        heigth: 50px;
        width:  50px;
}

span.user_name_c, .all_comments p {
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      color:#2C8FCC;
      font-weight:600;
}

span.user_name_c span {

        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color:#999999;
}

/* all_posts */


.blog-archive {
   text-align:center;
   margin-bottom:30px;
}

.data-archive {
   text-align:center;
   display:none;
}



.data-archive dt a{

    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 35px;
    font-weight:200;
    color:#999999
}


.data-archive dd a{

     font-family: 'Fira Sans Condensed', sans-serif;
     font-size: 25px;
     font-weight:200;
     color:#999999
}


