{% extends 'base.html'%}
{% block content %}
<div class="container-fluid ">
   <div class="row">
    <div class="col-lg-6 pl-0">
       <!-- Slider main container -->
<div class="swiper-container swiper2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img class="img-fluid pb-3 pt-3"src="/static/css/curious.jpg"></div>
        <div class="swiper-slide"><img class="img-fluid pb-3 pt-3"src="/static/css/explore.jpg"></div>
        <div class="swiper-slide"><img class="img-fluid pb-3 pt-3"src="/static/css/readnature.jpg"></div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-pagination2"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-prev2"></div>
    <div class="swiper-button-next swiper-button-next2"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar swiper-scrollbar2"></div>
</div>
    </div>
    <div class="col-lg-6">
       <h1 class="blog-archive">Blog Archive</h1>
        <div  id = "darchive" class="data-archive">
            <h5>Here are my latest posts enjoy!!</h5>
             <br>
             <br>
          <dl>
          {% for key, value in d.items() %}
            <dt><a href="{{ key }}" data-toggle="collapse" data-target="#demo{{key}}">{{ key }}</a> ({{ value[1] }})</dt>
            {% for m, c in value[0].items() %}
              <div class="collapse" id="demo{{key}}"> <dd><a href=""data-toggle="collapse" data-target="#open{{key}}{{m}}">{{m|month_number}}</a>  ({{ c }})</dd></div>
              <div class="collapse" id="open{{key}}{{m}}">
                  {% for post in all_posts if (key==post.postDate.year) and (m==post.postDate.month) %}
                    <a href="{{ url_for('comment.page_comment_top',post_id = post.postId,name =post.pic.imageName)}}">{{post.postTitle}}</a>
                     <br>

                  {%endfor%}

              </div>
            {% endfor %}
          {% endfor %}
        </div>
</dl>

    </div>
   </div>







</div>


{% endblock %}