{% extends 'base.html'%}
{% block content %}
<div class="container-fluid ">
        <div class="row align-items-start">
                <div class="col-lg-8 ">
                        <form action="{{url_for('posts.post_add')}}" method="POST" >
                            <input name="_token" type="hidden" value="">
                          <div class="form-row">
                            <div class="form-group col-md-6 pt-2">
                              <label for="inputTitle">Post Title</label>
                              <input type="text" class="form-control" id="inputTitle" name="post_title">
                            </div>
                            <div class="form-group col-md-6 pt-2">
                              <label for="inputPostAuthor">Author Name</label>
                              <input type="text" class="form-control" id="inputPostAuthor" name="post_author">
                            </div>
                          </div>
                           <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="inputPost">Post Date</label>
                              <input type="date" class="form-control" id="inputPost" name="post_date">
                            </div>
                              <div class="form-group col-md-4">
                                <label for="inputOwnerId">Post Owner Id</label>
                                <input type="number" class="form-control" id="inputOwnerId" name="post_owner_id" >
                              </div>
                               <div class="form-group col-md-4">
                                   <label for ="inputImageName" >browse path</label>
                                  <div class="custom-file">
                                     <input type="file" class="custom-file-input" id="inputImageName" name="image_name" >
                                     <label class="custom-file-label" for ="inputImageName" >Choose file...</label>
                                  </div>
                               </div>
                           </div>
                            <br>
                            <div class="form-row" >
                               <div class="form-group col-md-12">
                                  <label for="postDetails">Post Details</label>
                                  <textarea class="form-control" id="postDetails" rows="5" name="post_details"></textarea>
                               </div>
                                 <div class="form-group col-md-12">
                                  <label for="postExtraDetails">Post Extra Details</label>
                                  <textarea class="form-control" id="postExtraDetails" rows="2" name="post_extra_details"></textarea>
                               </div>
                           </div>
                          <button type="submit" class="btn btn-primary">post</button>
                        </form>
                </div>
            <div class="col-lg-4 pr-0">
              <img class="img-fluid pr-0 pl-4 pt-3 pb-3" src = "{{ url_for('static', filename='css/reading pink.jpg')}}" >
            </div>
        </div>
</div>

{% endblock %}