{% extends 'base.html'%}

{% block content %}

<div class="container-fluid ">
        <div class="row align-items-start">
                <div class="col-lg-4 ">
                      <div class="pack-books">
                            <img class="img-fluid px-2 pt-3 pb-3" src = "{{ url_for('static', filename='css/toa-heftiba-ip9R11FMbV8-unsplash.jpg')}}" >
                      </div>

                 </div>
                 <div class="col-lg-4 ">
                       <div class="col">

                               <div class="enjoy"><h1>About Me</h1></div>
                                <div class="about" >Hey everyone! My name is Anat and I love to read books. Honesty,
                                    I have loved books for the majority of my life, and I find them amazing.
                                    Reading books enlighten you with knowledge and each book teaches you something new.
                                    In this blog I review  the books that I read and share my personal thoughts of the books.
                                    I would absolutely be thrilled if you comment my reviews and they can be shared with others.
                                    I think you can benefit reading other people points of view and enjoy them.

                                    <center><img class="img-fluid px-1 " src = "{{ url_for('static', filename='css/love-heart-icon.png')}}" ></center>

                                </div>

                            <div class="col" >
                                <div class="row text justify-content-start" >
                                  <div class="enjoy">Enjoy My Site !!</div>
                                </div>
                            </div>
                        </div>
                 </div>
                 <div class="col-lg-4 ">
                     <div class="col">
                       <div  class="text-center px-4 py-4"><blockquote class="bg-gray primary"><h5>"If you don’t like to read, you haven’t found the right book."</h5></blockquote>
                            <small>J.K. Rowling
                                <cite title="Source Title">American author</cite>
                            </small>
                        </div>
                     </div>

                       <div class="col">
                            <div class="favorites">
                               <img class="img-fluid pl-5 pb-1 " src = "{{ url_for('static', filename='css/pexels-photo-698158.jpeg')}}" >
                            </div>
                           <div class="bottom-favorites">
                               <a href ="{{ url_for('about.favorites') }}"><h5> My Favorites</h5></a>
                           </div>
                      </div>



                 </div>


        </div>

</div>
{% endblock %}



