{% extends 'base.html'%}

{% block content %}
<div class="container-fluid ">
        <div class="row align-items-start">
                <div class="col-lg-8 ">
                     <div class="favorites-list">
                               <h1>My Favorites!!</h1>

                               <div class="favorites-personal mt-4">I love different books and this is a list of my personal top five favorite books of all times. </div>
                               <ul>
                                 <li>Pope Joan By Donna Woolfolk. </li>
                                 <li>The Island By Victoria Hislop.</li>
                                 <li>The Kite Runner By Khaled Hosseini.</li>
                                 <li>The Da Vinci Code By Dan Brown. </li>
                                 <li>The Room On Rue Emelie By Kristin Harmel.</li>
                               </ul>
                               <div class="favorites-personal mt-5">There's are so many reasons to read, even today with the age of technology. Remember, reading is supposed to be a form of entertainment so, if you're not reading something you enjoy then there is a little point of reading it at all. If you're pressured by others to read the classics but don't enjoy the classics, then don't read the classics. Read what you prefer reading.</div>
                               <span class="anat"> Anat</span>
                           </div>

                </div>
                 <div class="col-lg-4 pr-0 ">
                     <div class="col pr-0">
                          <div class="reading-woods">
                               <img class="img-fluid pb-1 pt-4" src = "{{ url_for('static', filename='css/reading woods.jpeg')}}" >
                          </div>
                     </div>
                     <div class="col pr-0">
                              <div  class="text-center px-4 py-4"><blockquote class="bg-gray primary"><h5>"That's the thing about books.They let you travel without moving your feet."</h5></blockquote>
                                   <small>Jhumpa Lahiri
                                      <cite title="Source Title">American author</cite>
                                   </small>
                              </div>
                     </div>

                </div>

        </div>
</div>


{% endblock %}