{% extends 'base.html'%}

{% block content %}
<div class="container-fluid ">
        <div class="row align-items-start">
                <div class="col-lg-8 ">
                     <div class="favorites-list">
                               <h1>My Favorites!!</h1>

                               <div class="favorites-personal">I love a range of different books and this is a list of my personal top five favorite books of all times. </div>
                               <ul>
                                 <li>Pope Joan By Donna Woolfolk </li>
                                 <li>The Island By Victoria Hislop.</li>
                                 <li>The Kite Runner By Khaled Hosseini</li>
                                 <li>The Da Vinci Code By Dan Brown </li>
                                 <li>The Room On Rue Emelie By Kristin Harmel</li>
                               </ul>
                                <p>There's are so many reasons to read, even today with the age of technology. Remember, reading is supposed to be a form of entertainment so, if you're not reading something you enjoy then there is little point of reading it at all. If you're pressured by others to read the classics but don't enjoy the classics, then don't read the classics.Read what you prefer reading</p>

                           </div>

                </div>
                 <div class="col-lg-4 ">
                     <div class="heart-book">
                               <img class="img-fluid pl-5 pb-1 " src = "{{ url_for('static', filename='css/heart-book.jpg')}}" >
                      </div>
                </div>

        </div>
</div>


{% endblock %}