<div class="layout">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-0 fixed-top">
      <div class="container">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navblog" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navblog">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('main.index') }}">HOMEPAGE</a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('about.about_me') }}">ABOUT</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('about.reading') }}">READING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('posts.posts_show') }}">POSTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#">COMMENT</a>
          </li>
        </ul>
      </div>

    </div>

    </nav>

    <section id="header" class="jumbotron text-center">
        <h1 class= "display-3">BOOKS SHARE</h1>
    </section>
</div>